{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src={% static 'js/chage-theme.js' %}></script>
    <script src={% static 'js/sidebar.js' %}></script>
    {% tailwind_css %}
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
</head>

<body>    
    {% block header %}
    {% endblock header %}
    {% block body %}
    {% endblock body%}
    {% block footer %}
    {% endblock footer %}
    <script src={% static 'js/action-change.js'%}></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>
</html>